{% if posts %}

  <section>
    <header>
      {% if sidelink %}
        <a href="">

          {# if not a boolean but a string #}
          {% if sidelink|length > 1 %}
            {{ sidelink }}
          {% else %}
            {{ __('See more posts', 'theme_domain') }}
          {% endif %}
        </a>
      {% endif %}
    </header>

    <ul>
      {% for post in posts %}
        {% include 'partials/post-partial.twig' with {'post':post} %}
      {% endfor %}
    </ul>
    
  </section>
  
{% endif %}