// !Global mixins

//@usage @include headings(){font-family:sans-serif; ...}
@mixin headings($from: 1, $to: 6, $notfirstchild:false){
  @for $i from $from through $to{
    @if $notfirstchild == true {
      h#{$i}:not(:first-child){
        @content
      }
    } @else {
      h#{$i}{
        @content
      }
    }
  }
}

@mixin u-spacing-x($spacing, $spacing-type:'padding') {
  #{$spacing-type}-left:$spacing; 
  #{$spacing-type}-right:$spacing; 
}

@mixin u-spacing-y($spacing, $spacing-type:'padding') {
  #{$spacing-type}-top:$spacing; 
  #{$spacing-type}-bottom:$spacing; 
}

@mixin u-center($mode:'vertically') {
  position:absolute;
  @if $mode == 'horizontally' {
    left:50%; 
    transform: translateX(-50%);
  } @elseif $mode == 'vertically' {
    top:50%; 
    transform: translateY(-50%);
  } @else {
    top:50%; 
    left:50%; 
    transform: translate(-50%, -50%);
  } 
}

@mixin u-webkit-only {
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @content
  }
}

@mixin u-ie1011-only {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     @content
  }
}

@mixin u-edit-this($corner-x:left, $corner-y:top) {
  position:fixed; 
  #{$corner-x}:0; 
  #{$corner-y}:0; 
  opacity:0; 
  &:hover {
    opacity:1; 
  }
}

@mixin u-reset-firstitem-content($inner_selector:false, $pseudoelement:'before') {
  &:first-child {
    @if $inner_selector != false {
      #{$inner_selector}::#{$pseudoelement} {
        content:normal; 
      }
    } @else {
      &::#{$pseudoelement} {
        content:normal;
      }
    }
  }
}

//apply to li
@mixin u-set-list-styling {
  list-style-type:disc; 
  list-style-position:inside;
}

@mixin o-pseudoblockelement {
  display:block; 
  content:''; 
  position:absolute;
}

@mixin u-button-pressed {
  position:relative; 
  &:active {
    top:1px;
  }
}

@mixin u-textcoloredlink {
  a {
    color:currentColor; 
    text-decoration:none; 
  }
}

@mixin u-restore-link-styling($event:'') {
  $selector:if($event != '', 'a:' + $event, '');
  #{$selector} {
    color:$color-link; 
    &:focus {
      color:white; 
    }
  }
}

@mixin u-underlinedhover {
  a:hover {
    text-decoration:underline; 
  }
}

@mixin u-comma-separated-list($sel:'li') {
  #{$sel} {
    display:inline;
    &::after {
      content:', ';
    }
    &:last-child::after {
      content:'';
    }
  }
}

@mixin u-reset-firstitem-spacing-x($spacing-type:'padding') {
  &:first-child {
    #{$spacing-type}-left:0; 
  }
}

@mixin u-reset-lastitem-spacing-x($spacing-type:'padding') {
  &:last-child {
    #{$spacing-type}-right:0; 
  }
}

@mixin u-reset-firstitem-spacing-y {
  &:first-child {
    margin-top:0;
  }
}

@mixin u-has-hidden-span {
  span {
    display:none;
  }
}

@mixin u-no-focus-outline {
  &:focus {
    outline:none;
  }
}

@mixin u-screenreader-text {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  width: 1px; 
  margin: -1px; 
  padding: 0; 
  border: 0; 
  white-space: nowrap;
}

.u-screenreader-text {
  @include u-screenreader-text;
}

.js-hidden-if-js-on {
  #{$js-on} {
    display:none; 
  }
}

.u-inner-layer {
  position:relative; 
  z-index:1; 
}

@mixin u-image-autowidth {
  max-width:100%; 
  height:auto; 
}

@mixin u-center-text-vertically {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:flex-start; 
}

@mixin u-list-ellipsis($selector:'li') {
  #{$selector}:last-child {
    &::after {
      content:'...'; 
    }
  }
}

.u-nowrap {
  white-space:nowrap;
}

@mixin u-dont-show-if-empty {
  &:empty {
    display:none; 
  }
}

@mixin u-word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

// allows to apply theme transitions while specifying properties 
@mixin u-transition($transition, $props:'all') {
  transition:#{$props} $transition;
}

.js-hidden,
.u-hidden {
  display:none; 
}

@mixin u-remove-button-styling {
  border:none; 
  background:none; 
  box-shadow:none; 
  padding:0; 
}

// https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6
@mixin u-font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// from Bourbon
@mixin u-size($value) {
  $width: nth($value, 1);
  $height: $width;

  @if length($value) > 1 {
    $height: nth($value, 2);
  }

  @if is-size($height) {
    height: $height;
  } @else {
    @warn '`#{$height}` is not a valid length for the `$height` parameter in the `size` mixin.';
  }

  @if is-size($width) {
    width: $width;
  } @else {
    @warn '`#{$width}` is not a valid length for the `$width` parameter in the `size` mixin.';
  }
}

// from Bourbon
@mixin u-clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}