// pure appearance (typographic/cosmetic) styles
// please keep here only those mixins that are related to single post styling 

@mixin t-heading-s {
  font-style:italic; 
  font-weight:bold; 
}

@mixin t-heading-m {
  font-weight:bold; 
}

@mixin t-heading-l {
  font-size:$fs-l; 
  line-height:$lh-l; 
}

@mixin t-heading-xl {
  font-weight:bold; 
  font-size:$fs-xl; 
  line-height:$lh-xl; 
}

@mixin t-heading-xxl {
  font-weight:bold; 
  font-size:$fs-xxl; 
  line-height:$lh-xxl; 
}

@mixin t-heading-xxxl {
  font-weight:bold; 
  font-size:$fs-xxxl; 
  line-height:$lh-xxxl; 
}