// sass-lint:disable no-important, no-universal-selectors
body {
  background-color:$color-bg; 
  font:#{$fs} / #{$lh} $ff; 
}

a {
  @include t-link-base;
}

.s-textcontent {
  @include t-textcontent;
}

.is-page-loading * {
  transition:none !important;
}

.u-link {
  @include t-link-base;
}

.u-link-button {
  @include t-link-base;
  @include u-remove-button-styling;
}
