/* stylelint-disable declaration-no-important, selector-max-universal */
body {
  @include u-set-typography;
  background-color: $color-bg; 
}

a {
  @include t-link-base;
}

.s-textcontent {
  @include t-textcontent;
}

.is-page-loading * {
  transition: none !important;
}

.u-link {
  @include t-link-base;
}

.u-link-button {
  @include t-link-base;
  @include u-remove-button-styling;
}
