// pure appearance (typographic/cosmetic) styles
// please keep here only those mixins that are related to single post styling 

@mixin t-textcontent {
  // sass-lint:disable-block force-element-nesting

  // preventing text styles leaking into widgets pasted into content area via shortcodes
  &> {
    blockquote {
      font-style:italic; 
    }
    // h2 {
    //   @include t-heading-xxxl;
    // }
    // h3 {
    //   @include t-heading-xxl;
    // }
    // h4 {
    //   @include t-heading-xl;
    // }
    // h5 {
    //   @include t-heading-l;
    // }
    // h6 {
    //   @include t-heading-m;
    // }
    p, ul, ol {
      &:not(:only-child) {
        @include u-spacing-y($unit-y, 'margin');
      }
    }
    h2, h3, h4, h5, h6, p, ul, ol {
      &:first-child {
        margin-top:0; 
      }
      &:last-child {
        margin-bottom:0; 
      }
    }
    ul li {
      list-style-type:disc; 
    }
    ul, ol {
      li li {
        padding-left:$unit-x * 2; 
      }
    }
  }
  img {
    display:block; 
    @include mq($until: large) {
      @include u-image-autowidth;
    }
  }
  iframe {
    width:100%; 
  }
}


// ~ heading level 2
// @mixin t-heading-xxxl {
//   @include u-set-typography('body', 'big-heading');
// }


// ~ heading level 3
// @mixin t-heading-xxl {
// }


// // ~ heading level 4
// @mixin t-heading-xl {
// }


// // ~ heading level 5
// @mixin t-heading-l {
// }


// // ~ heading level 6
// @mixin t-heading-m {
// }
