// Project mixins

// !Utilities
// These do one single thing
@mixin u-set-typography($typeface-name:'body', $style-name:'regular') {
  
  $this-typeface: map-get($font-styles, $typeface-name);
  $this-style: map-get($this-typeface, $style-name);
  
  @if $typeface-name == 'body' {
    font-family:$ff-body; 
  }
  @if $typeface-name == 'heading' {
    font-family:$ff-heading; 
    font-weight:800; 
  }

  @each $property, $value in $this-style {
    @if map-has-key($mq-breakpoints, $property) and type-of($value) == 'map' {
      @include mq($from: $property) {
        @each $subproperty, $subvalue in $value {
          @if $subproperty == 'font-size' {
            $subvalue:rem-calc($subvalue);
          }

          #{$subproperty}: $subvalue;
        }
      }
    } @else {
      @if $property == 'font-size' {
        $value:rem-calc($value);
      }
      #{$property}: $value;
    }
  }
}


// !Objects
// (structure-related styles)




// !Theming mixins
// pure appearance (typographic/cosmetic) styles

@mixin t-link-base {
  color:$color-link; 
  text-decoration:none; 
}


@mixin t-focused {
}
